<!-- <nav class="navbar navbar-light">
 Navbar content
 navbar navbar-expand-lg navbar-light bg-ligh 
</nav>  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  target="_blank"  >E-learning Platform</a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
        <form class="form-inline my-2 my-lg-0" style="margin-left: 30px;">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
    </form>
      
     
      
    </ul>
    

   
  
 
      
      
      
      
       <li class="dropdown">
        <div class="dropbtn" type="button">
          <!-- <i class="person-circle"></i> -->
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="rgba(255, 255, 255, 0.50)" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
          </svg>
        </div>
        <div class="dropdown-content">
          
  
            <a class="nav-link" href="#" >Log Out <span class="sr-only">(current)</span></a>
          
          
            <label class="switch" >
              <input type="checkbox" (click)="sendEvent()">
              <span class="slider round"></span>
            </label>
         
        </div>
      </li>
     
  
  
  
  </div>


</nav>





