
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <h1 style="color: rgba(255, 255, 255, 1);" >sample-page-one works!</h1> -->
<div class="container">
  <div class="row" >
      <img class="profile-image" src="https://i.gifer.com/DNBk.gif" >
      	
<div class="ab">
      <h1>Contact <i>Details</i></h1>
      <br>

       <div class="row">
      	
      	
        <!--  <div class="col-md-3 col-xs-6"> -->
          <div class="details-left">
           
          
            <ul>
              <li>Age </li>
              <li>Country </li>
              <li>Adress</li>
              <li>E-mail</li>
              <li>Phone</li>
              <li>Position</li>
              <li>Class</li>
              <li>Faculty</li>
            </ul>
         <!--  </div> -->
        </div>

       <!--   <div class="col-md-3 col-xs-6"> -->
           <div class="detail-right">
             <ul>
               <li>22</li>
               <li>Tunisia</li>
               <li>Ras Jebel</li>
               <li>safaal@gmail.com</li>
               <li>56 987 412</li>
               <li>student</li>
               <li>IF4</li>
               <li>Fst</li>
             </ul>
          <!--  </div> -->
         </div>
     </div>
 </div>
 </div> 
 <!-- <app-comment></app-comment>  -->
  
     



<br>

<div class="row">

<div >
  <a class="facebookBtn smGlobalBtn" href="#" ></a>
      <a class="twitterBtn smGlobalBtn" href="#" ></a>
      <a class="googleplusBtn smGlobalBtn" href="#" ></a>
      <a class="linkedinBtn smGlobalBtn" href="#" ></a>
      <a class="pinterestBtn smGlobalBtn" href="#" ></a>
      <a class="tumblrBtn smGlobalBtn" href="#" ></a>
      <a class="rssBtn smGlobalBtn" href="#" ></a>
</div>
<!--  <button class="but-adit">Edit</button> -->

<div class="buttons">

  <button class="btn btn-4" type="button">Edit Profil</button>

</div>
</div>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
  </script>
  
