<!--  <div class="sidebar">
  sidebar
</div> -->

<div class="sidebar">
  <div class="list-items">

    <a routerLink='/app/page-1' routerLinkActive='selected' class="list-item">
      <i class="material-icons">home</i>
      Home
    </a>
    <a routerLink='/app/Profil' routerLinkActive='selected' class="list-item">
      <i class="material-icons">person</i>
      Profil
    </a>
    <a routerLink='/app/Classes' routerLinkActive='selected' class="list-item">
      <i class="material-icons">school</i>
      Classes
    </a>
    <a routerLink='/app/page-4' routerLinkActive='selected' class="list-item">
      <i class="material-icons">rate_review</i>
      Feedbacks
    </a>
    <a routerLink='/app/page-5' routerLinkActive='selected' class="list-item">
      <i class="material-icons">forum</i>
      Forum
    </a>

  </div>

</div>
