
.page{
	padding: 50px;
	margin-top: 50px;
	padding-left: 280px;



.example-section{
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
	background-color: #919191;
	padding-left: 20px;
	margin-top: 50px;
}
.white-theme{
	background-color: white;
}


}
body{
	height: 200px;
}

.dark-theme{
	background-color: black;
}

